<!--
Authors :
Chathura Widanage
Sasith Wathmal Sonnadara
@Moraspirit
-->
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UNIVERSITY SPORTS</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Oswald|Coda|Arimo' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/jquery.bxslider.css">

    <script src="js/angular.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.bxslider.min.js"></script>

    <script>
        $(document).ready(function(){
            $('.bxslider').bxSlider({
                captions: true,
                auto: true
            });
        });

    </script>
</head>
<body>
<div class="container-fluid">
    <!--<div class="row social_bar">
        <ul>
            <li></li>
        </ul>
    </div>-->
    
    <div class="row top_menu_r1 text-uppercase">
    <div class="row top_menu_r3">

    </div>
        <div id="logo" class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
            <!--<img src="images/logo.png">-->
            <img class="img-responsive" src="images/logo.png"
                 style="margin-left: auto; margin-right: auto;">
        </div>
        <div class="container">


            <div class="nav_btns">
                <div class="nav_btn">
                    <a href="index.html">
                        HOME
                    </a>
                </div>
                <div class="nav_btn">
                    <a href="scoretable.html">
                        POINTS TABLE
                    </a>
                </div>
                <div class="nav_btn">
                    <a href="events.html">
                        EVENTS
                    </a>
                </div>
<!--                <div class="nav_btn">
                    <a href="">
                        HISTORY
                    </a>
                </div> -->
            </div>
        </div>
    </div>
    <div class="row top_menu_r2">

    </div>
    
    <!--end of header-->

    <br>

    <div class="container" ng-app="mspApp" ng-controller="scoreCtrl">

        <div class="row">
            <div id="slides" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  style="padding-right: 0; padding-left: 0; margin-left: 5px;">
                <ul class="bxslider">
                    <li><img src="images/win.jpg" /></li>
                    <li><img src="images/twitter.jpg" /></li>
                    <li><img src="images/count.jpg" /></li>
                </ul>

            </div>

        </div>




        <br>



        <div class="row">
            <div class="col-lg-7 col-md-8 col-sm-12 col-xs-12 score-table"  ng-repeat="x in summaries" ng-if="summary_index == $index">
                <div class="row score-heading">
                    <h3 style="text-align: center;">
                        <span ng-click="back()" class="glyphicon glyphicon-chevron-left pull-left" aria-hidden="true"></span>
                        {{x.heading | uppercase}}
                        <span ng-click="next()" class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
                    </h3>

                </div>

                <div class="row score-content">

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 score-middle">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-2" style="padding-left: 0; padding-right: 0;">
                            <img src="pics/{{x.team_a_code| lowercase}}.png" class="pull-left img-responsive hidden-xs">
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-8 score-detail" style="text-align: left;">
                            <h4><b ng-repeat="u in unis" ng-if="u.code == x.team_a_code">{{u.name | uppercase}}</b></h4>

                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-left: 0; padding-right: 0;">
                            <h3 class="pull-right score-left">{{x.team_a_score}}</h3>

                        </div>
                    </div>
                    <div class="col-lg-6  col-md-6 col-sm-6 col-xs-6 score-middle">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-left: 0; padding-right: 0;">
                            <h3 class="pull-left score-right">{{x.team_b_score}}</h3>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-8 score-detail" style="text-align: right;">
                            <h4><b ng-repeat="u in unis" ng-if="u.code == x.team_b_code">{{u.name | uppercase}}</b></h4>

                        </div>

                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-2" style="padding-left: 0; padding-right: 0;">
                            <img src="pics/{{x.team_b_code| lowercase}}.png" class="pull-right img-responsive hidden-xs">
                        </div>


                    </div>

                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-1 score-summary">
                        <p>{{x.summary}}</p>
                    </div>
                </div>



            </div>


            <div class="hidden-lg hidden-md col-sm-12 col-xs-12">
                <br>
            </div>


            <div class="col-md-3 col-lg-4 col-xs-12 pull-right score-board">
                <div class="row score-board-head">
                    <div class="col-xs-4 score-board-head-title">
                        <h3 style="font-size: 18px"><b>TABLE</b></h3>
                    </div>
                    <div class="col-xs-8">

                    </div>
                </div>
                <div class="row" id="mini-scoretable">
                    <table class="table">
                        <thead>
                        <tr>
                            <td width="60" class="mini-scoretable-middle">POS</td>
                            <td>TEAM</td>
                            <!--<td>P</td>-->
                            <td width="60" class="mini-scoretable-middle">PTS</td>
                        </tr>
                        </thead>
                        <tbody>


                        <tr ng-repeat="uni in unis | orderBy:'-points'" ng-if="uni.points > 0">
                            <td class="mini-scoretable-middle">{{uni.rank}}</td>
                            <td>{{uni.name | uppercase}}</td>

                            <td class="mini-scoretable-middle">{{uni.points}}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>


    <!--End of body-->
    <footer class="footer container-fluid">
        <div id="footer-wrapper">
            <div class="row" style="background-color: rgb(234, 46, 43);">
                <!--<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                    <img class="img-responsive hidden-xs hidden-sm" src="images/logo.png"
                         style="margin-left: auto; margin-right: auto;">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
                     style="text-align: right; vertical-align: central; height: 100%; padding-top: 20px; padding-bottom: 20px;">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-xs-push-1 col-lg-push-0 col-md-push-0 col-sm-push-0">
                        <a href="index.html">HOME</a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
                        <a href="scoretable.html">POINTS TABLE</a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <a href="events.html">EVENTS</a>
                    </div>
<!--                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <a href="#">HISTORY</a>
                    </div>
-->                    <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                    </div>



                </div>-->
            </div>
        </div>
        <div class="container" id="bottom-footer" style="padding-top: 30px; text-align: center; color: grey">
            <div class="row" style="text-align: left;">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">




                    <div id="block-simplenews-0" class="clearfix block block-simplenews">


                        <div class="titlecontainer"><h4>Receive our Newsletter</h4></div>


                        <div class="content">

                            <form action="http://moraspirit.com/" method="post" id="simplenews-subscriptions-multi-block-form" accept-charset="UTF-8">
                                <div>
                                    <div id="edit-newsletters" class="form-checkboxes">
                                        <div class="form-item form-type-checkbox form-item-newsletters-58">
                                            <input id="edit-newsletters-58" name="newsletters[58]" value="58" class="form-checkbox" type="checkbox">
                                            <label class="option" for="edit-newsletters-58" >MoraSpirit newsletter </label>


                                        </div>
                                    </div>
                                    <input name="form_build_id" value="form-ZAUCxflEAFf7D7SBXEO7s1FogUNBH55DpUjhV0eZ3PE" type="hidden">
                                    <input name="form_id" value="simplenews_subscriptions_multi_block_form" type="hidden">
                                    <div class="form-item form-type-textfield form-item-mail">
                                        <label for="edit-mail">E-mail <span class="form-required" title="This field is required.">*</span></label>
                                        <br>
                                        <input id="INPUT_1" name="mail" value="" size="24" maxlength="128" class="form-text required" type="text" style="padding-right: 20px;">
                                    </div>

                                    <input class=" btn form-submit text-black" id="edit-subscribe" name="op" value="Subscribe" type="submit" style="margin-bottom: 5px; margin-right: 5px;">
                                    <input class=" btn form-submit text-black" id="edit-unsubscribe" name="op" value="Unsubscribe" type="submit" style="margin-bottom: 5px; margin-right: 5px;">
                                </div>
                            </form>

                        </div>
                    </div>




                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <table>
                        <tbody><tr>
                            <td style="border: none; vertical-align: top;">
                                <a href="http://old.moraspirit.com" target="_blank" style="line-height: 200%; font-weight: 300;">| Archives</a><br>
                                <!--<a href="http://moraspirit.com/careers" style="line-height: 250%; font-weight: 300;">| Careers</a><br>-->
                                <a href="http://moraspirit.com/site-map" style="line-height: 250%; font-weight: 300;">| Site Map</a><br>
                                <a data-toggle="modal" role="button" href="#myModal3" style="line-height: 250%; font-weight: 300;">| Report a bug</a><br>
                                <a href="sites/default/files/spaces.pdf" target="_blank" style="line-height: 200%; font-weight: 300;">| Advertise with us</a><br>

                            </td>

                            <td style="border:none;">

                                <a href="https://www.facebook.com/moraspirit.fanpage" target="_blank" style="line-height: 200%; font-weight: 300;">| Facebook</a><br>
                                <a href="https://twitter.com/moraspiritNews" target="_blank" style="line-height: 200%; font-weight: 300;">| Twitter</a><br>
                                <a href="https://plus.google.com/108795907592684921602/posts" target="_blank" style="line-height: 200%; font-weight: 300;">| Google Plus</a><br>
                                <a href="http://www.youtube.com/user/moraspiritNews?feature=watch" target="_blank" style="line-height: 200%; font-weight: 300;">| Youtube</a><br>
                                <a href="http://www.linkedin.com/company/moraspirit-initiative" target="_blank" style="line-height: 200%; font-weight: 300;">| LinkedIn</a><br>
                                <a href="http://www.stumbleupon.com/submit" target="_blank" style="line-height: 200%; font-weight: 300;">| Bookmark us</a><br>
                            </td>
                        </tr>

                        </tbody></table>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <table>
                        <tbody><tr>
                            <td style="border: none; float: right;"><img src="http://moraspirit.com/sites/default/files/footer_contact/address.png"></td>
                            <td style="border: none; color:#B2B2B2">
                                MoraSpirit Initiative,<br>
                                125/56A, Peterson Lane,<br>
                                Colombo 06.
                            </td>
                        </tr><tr>

                        </tr><tr>
                            <td style="border: none; float: right;"><img src="http://moraspirit.com/sites/default/files/footer_contact/email.png"></td>
                            <td style="border: none; color:#B2B2B2">
                                info@moraspirit.com
                            </td>
                        </tr><tr>

                        </tr><tr>
                            <td style="border: none; float: right;"><img src="http://moraspirit.com/sites/default/files/footer_contact/phone.png"></td>
                            <td style="border: none; color:#B2B2B2">
                                +(94) 767895100
                            </td>
                        </tr><tr>

                        </tr></tbody></table>


                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">

                    <img class="imageblock-image img-responsive" typeof="foaf:Image" src="http://moraspirit.com/sites/default/files/styles/medium/public/imageblock/moraspirit_logo.png?itok=JxjE2Hat" alt="MoraSpirit Logo" title="MoraSpirit">
                </div>

            </div>


            <div class="row" style="padding-bottom: 15px">
                <div id="DIV_1">
                    <div id="DIV_2">
                        <div id="DIV_3">
                            <div id="DIV_4">
                                ©2015 All Rights Reserved | <a href="http://moraspirit.com" id="A_5" style="color: rgb(240, 40, 40);">www.moraspirit.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </footer>

</div>
</body>
</html>