<!--
sasithawathmal@gmail.com
05/04/2015
-->
<!DOCTYPE html>
<html data-ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>POINTS TABLE</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Oswald|Coda|Arimo' rel='stylesheet' type='text/css'>
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/scoretable.js" type="text/javascript"></script>

    
    <style>
        .result-scores{
            color: rgb(110, 46, 43);
        }

    </style>

</head>
<body data-ng-controller="controller as ctrl">

<div class="container-fluid">
    <!--<div class="row social_bar">
        <ul>
            <li></li>
        </ul>
    </div>-->
    <div class="row top_menu_r1 text-uppercase">
          <div id="logo" class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
            <!--<img src="images/logo.png">-->
            <img class="img-responsive" src="images/logo.png"
                 style="margin-left: auto; margin-right: auto;">
        </div>
        <div class="container">


            <div class="nav_btns">
                <div class="nav_btn">
                    <a href="index.html">
                        HOME
                    </a>
                </div>
                <div class="nav_btn">
                    <a href="scoretable.html">
                        POINTS TABLE
                    </a>
                </div>
                <div class="nav_btn">
                    <a href="events.html">
                        EVENTS
                    </a>
                </div>
                <div class="nav_btn">
                    <a href="draws.html">
                        DRAWS
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row top_menu_r2">

    </div>
    <!--end of header-->

    <br>

    <div class="container" style="font-family: 'Coda', cursive;">


        <div class="row">
            <div class="col-xs-12">
                <!--<h2 class="sub_title text-right">inter university games 2015</h2>-->
                <h1 class="main_title text-right">POINTS TABLE</h1>
            </div>
        </div>

        <!--
        games order by name and
        universities order by total

        -->


        <div class="row">
            <div class="col-xs-2">

            </div>

            <!--
            university names
            taken out from angularjs
            -->
            <div class="col-xs-7 col-xs-offset-5 col-sm-8 col-sm-offset-4 hidden-lg hidden-md" >
                <select class="btn col-xs-12" ng-model="selectValue">
                    <option  data-ng-repeat="uni in universities | orderBy: ['-total']" value="{{$index}}" >{{uni.name | uppercase}}</option>

                </select>
            </div>

            <div class="col-xs-10">
                <div class="tbl_col uni_codes  hidden-xs hidden-sm" data-ng-repeat="uni in universities | orderBy: ['-total']"
                     data-ng-class="{'odd_col':$index%2==0,'even_col':$index%2!=0}">
                    {{uni.code}}
                </div>

            </div>

        </div>

        <div class="row" data-ng-repeat="game in allGames | orderBy: ['name']">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5">
                <div class="game_name odd_col">
                    <b>{{game.name | uppercase}}</b>
                </div>
                <div class="game_gender even_col">
                    {{game.category}}
                </div>
            </div>

            <!--this is where all the scores are displayed->

            <!--mobile view-->
            <div class="col-xs-7 col-sm-8  hidden-lg hidden-md">
                <div class="" data-ng-repeat="uni in universities | orderBy: ['-total']"
                     data-ng-class="{'odd_col':$index%2==0,'even_col':$index%2!=0}" ng-if="$index == selectValue" style="text-align: center;">
                    <span ng-repeat="g in uni.games | orderBy: ['name']" ng-if="g.code == game.code && g.category == game.category">{{g.score}}</span>
                </div>
            </div>
            <div class="col-xs-10 hidden-xs hidden-sm">
                <div class="tbl_col" data-ng-repeat="uni in universities | orderBy: ['-total']"
                     data-ng-class="{'odd_col':$index%2==0,'even_col':$index%2!=0}">
                    <span ng-repeat="g in uni.games | orderBy: ['name']" ng-if="g.code == game.code && g.category == game.category">{{g.score}}</span>
                </div>
            </div>


        </div>

        <div class="row result-scores" style="padding-top: 10px;">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5">
                <div class="game_name odd_col">
                    <b>TOTAL</b>
                </div>
                <div class="game_gender even_col">
                    ALL
                </div>


            </div>
            <div class="col-xs-7 col-sm-8  hidden-lg hidden-md">
                <div class="" data-ng-repeat="uni in universities | orderBy: ['-total']"
                     data-ng-class="{'odd_col':$index%2==0,'even_col':$index%2!=0}" ng-if="$index == selectValue" style="text-align: center;">
                    <b>{{uni.total}}</b>
                </div>
            </div>
            <div class="col-xs-10 hidden-xs hidden-sm">
                <div class="tbl_col" data-ng-repeat="uni in universities | orderBy: ['-total']"
                     data-ng-class="{'odd_col':$index%2==0,'even_col':$index%2!=0}">
                    <b>{{uni.total}}</b>
                </div>
            </div>
        </div>

        <div class="row result-scores">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5">
                <div class="game_name odd_col">
                    <b>STANDINGS</b>
                </div>
                <div class="game_gender even_col">
                    ALL
                </div>


            </div>
            <div class="col-xs-7 col-sm-8  hidden-lg hidden-md">
                <div class="" data-ng-repeat="uni in universities | orderBy: ['-total']"
                     data-ng-class="{'odd_col':$index%2==0,'even_col':$index%2!=0}" ng-if="$index == selectValue" style="text-align: center;">
                    <b>{{uni.rank}}</b>
                </div>
            </div>
            <div class="col-xs-10 hidden-xs hidden-sm">
                <div class="tbl_col" data-ng-repeat="uni in universities | orderBy: ['-total']"
                     data-ng-class="{'odd_col':$index%2==0,'even_col':$index%2!=0}">
                    <b>{{uni.rank}}</b>
                </div>
            </div>
        </div>



    </div>


    <!--End of body-->
    <footer class="footer container-fluid">
        <div id="footer-wrapper">
            <div class="row" style="background-color: rgb(234, 46, 43);">
                <!--<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                    <img class="img-responsive hidden-xs hidden-sm" src="images/logo.png"
                         style="margin-left: auto; margin-right: auto;">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
                     style="text-align: right; vertical-align: central; height: 100%; padding-top: 20px; padding-bottom: 20px;">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-xs-push-1 col-lg-push-0 col-md-push-0 col-sm-push-0">
                        <a href="index.html">HOME</a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
                        <a href="scoretable.html">POINTS TABLE</a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <a href="events.html">EVENTS</a>
                    </div>
<!--                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <a href="#">HISTORY</a>
                    </div>
-->                    <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                    </div>



                </div>-->
            </div>
        </div>
        <div class="container" id="bottom-footer" style="padding-top: 30px; text-align: center; color: grey">
            <div class="row" style="text-align: left;">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">




                    <div id="block-simplenews-0" class="clearfix block block-simplenews">


                        <div class="titlecontainer"><h4>Receive our Newsletter</h4></div>


                        <div class="content">

                            <form action="http://moraspirit.com/" method="post" id="simplenews-subscriptions-multi-block-form" accept-charset="UTF-8">
                                <div>
                                    <div id="edit-newsletters" class="form-checkboxes">
                                        <div class="form-item form-type-checkbox form-item-newsletters-58">
                                            <input id="edit-newsletters-58" name="newsletters[58]" value="58" class="form-checkbox" type="checkbox">
                                            <label class="option" for="edit-newsletters-58" >MoraSpirit newsletter </label>


                                        </div>
                                    </div>
                                    <input name="form_build_id" value="form-ZAUCxflEAFf7D7SBXEO7s1FogUNBH55DpUjhV0eZ3PE" type="hidden">
                                    <input name="form_id" value="simplenews_subscriptions_multi_block_form" type="hidden">
                                    <div class="form-item form-type-textfield form-item-mail">
                                        <label for="edit-mail">E-mail <span class="form-required" title="This field is required.">*</span></label>
                                        <br>
                                        <input id="INPUT_1" name="mail" value="" size="24" maxlength="128" class="form-text required" type="text" style="padding-right: 20px;">
                                    </div>

                                    <input class=" btn form-submit text-black" id="edit-subscribe" name="op" value="Subscribe" type="submit" style="margin-bottom: 5px; margin-right: 5px;">
                                    <input class=" btn form-submit text-black" id="edit-unsubscribe" name="op" value="Unsubscribe" type="submit" style="margin-bottom: 5px; margin-right: 5px;">
                                </div>
                            </form>

                        </div>
                    </div>




                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <table>
                        <tbody><tr>
                            <td style="border: none; vertical-align: top;">
                                <a href="http://old.moraspirit.com" target="_blank" style="line-height: 200%; font-weight: 300;">| Archives</a><br>
                                <!--<a href="http://moraspirit.com/careers" style="line-height: 250%; font-weight: 300;">| Careers</a><br>-->
                                <a href="http://moraspirit.com/site-map" style="line-height: 250%; font-weight: 300;">| Site Map</a><br>
                                <a data-toggle="modal" role="button" href="#myModal3" style="line-height: 250%; font-weight: 300;">| Report a bug</a><br>
                                <a href="sites/default/files/spaces.pdf" target="_blank" style="line-height: 200%; font-weight: 300;">| Advertise with us</a><br>

                            </td>

                            <td style="border:none;">

                                <a href="https://www.facebook.com/moraspirit.fanpage" target="_blank" style="line-height: 200%; font-weight: 300;">| Facebook</a><br>
                                <a href="https://twitter.com/moraspiritNews" target="_blank" style="line-height: 200%; font-weight: 300;">| Twitter</a><br>
                                <a href="https://plus.google.com/108795907592684921602/posts" target="_blank" style="line-height: 200%; font-weight: 300;">| Google Plus</a><br>
                                <a href="http://www.youtube.com/user/moraspiritNews?feature=watch" target="_blank" style="line-height: 200%; font-weight: 300;">| Youtube</a><br>
                                <a href="http://www.linkedin.com/company/moraspirit-initiative" target="_blank" style="line-height: 200%; font-weight: 300;">| LinkedIn</a><br>
                                <a href="http://www.stumbleupon.com/submit" target="_blank" style="line-height: 200%; font-weight: 300;">| Bookmark us</a><br>
                            </td>
                        </tr>

                        </tbody></table>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <table>
                        <tbody><tr>
                            <td style="border: none; float: right;"><img src="http://moraspirit.com/sites/default/files/footer_contact/address.png"></td>
                            <td style="border: none; color:#B2B2B2">
                                MoraSpirit Initiative,<br>
                                125/56A, Peterson Lane,<br>
                                Colombo 06.
                            </td>
                        </tr><tr>

                        </tr><tr>
                            <td style="border: none; float: right;"><img src="http://moraspirit.com/sites/default/files/footer_contact/email.png"></td>
                            <td style="border: none; color:#B2B2B2">
                                info@moraspirit.com
                            </td>
                        </tr><tr>

                        </tr><tr>
                            <td style="border: none; float: right;"><img src="http://moraspirit.com/sites/default/files/footer_contact/phone.png"></td>
                            <td style="border: none; color:#B2B2B2">
                                +(94) 767895100
                            </td>
                        </tr><tr>

                        </tr></tbody></table>


                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">

                    <img class="imageblock-image img-responsive" typeof="foaf:Image" src="http://moraspirit.com/sites/default/files/styles/medium/public/imageblock/moraspirit_logo.png?itok=JxjE2Hat" alt="MoraSpirit Logo" title="MoraSpirit">
                </div>

            </div>


            <div class="row" style="padding-bottom: 15px">
                <div id="DIV_1">
                    <div id="DIV_2">
                        <div id="DIV_3">
                            <div id="DIV_4">
                                ©2015 All Rights Reserved | <a href="http://moraspirit.com" id="A_5" style="color: rgb(240, 40, 40);">www.moraspirit.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </footer>

</div>


</body>
</html>